.bgImage {
	position: fixed;
	width: 100vw;
	height: 90vh;
	z-index: -1;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 80vw;
	max-width: 80vw;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1.5rem;
	width: 100%;
	position: relative;
}

.navLinks {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.navLinks a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 1rem;
}

.navLinks a:last-child {
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

.searchContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 600px;
	position: absolute;
	transform: translateY(-50%);
	top: 45%;
}

.searchContainer h1 {
	font-size: 2.7rem;
	font-weight: 600;
	color: white;
}

.searchContainer h1 span {
	font-size: 2.7rem;
	font-weight: 600;
	color: white;
	text-decoration: underline;
}

.searchContainer input {
	padding: 0.8rem;
	border-radius: 3px;
	border: none;
	outline: none;
	width: 100%;
}

.searchContainer input::placeholder {
	font-size: 1rem;
}

.searchContainer span {
	font-size: 1rem;
	font-weight: 600;
	color: white;
}

.searchContainer a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	border: 1px solid white;
	border-radius: 10px;
	padding: 0.2rem 0.7rem;
	margin: 0.5rem;
}